
$sw-light-blue: #91d8dd;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);


.hide-tablet-up {
  @media (min-width: map-get($grid-breakpoints, md)) { display: none !important; }
}

.hide-tablet-down {
  @media (max-width: map-get($grid-breakpoints, md)){ display: none !important; }
}

.hide-portfolio-carousel {
  @media (max-width: 750px) { display: none; }
}

.hide-portfolio-list {
  @media (min-width: 749px) { display: none; }
}


@mixin mobile-nav {
  @media (max-width: map-get($grid-breakpoints, md)) { @content; }
}

@mixin tablet-up {
  @media (min-width: map-get($grid-breakpoints, md)){ @content; }
}

@mixin bad-nav-hack-upper {
  @media (min-width: 995px) { @content; }
}

@mixin bad-nav-hack-lower {
  @media (min-width: 858px) { @content; }
}

.bad-social-media-hide-hack {
  @media (max-width: 775px) { display: none; }
}
.bad-social-media-show-hack {
  @media (max-width: 775px) { display: block; }
  @media (min-width: 775px) { display: none; }
  @media (max-width: 640px) { display: none; }
}

/*
for-phone-only == max-width: 599px
for-tablet-portrait-up == min-width: 600px
for-tablet-landscape-up == min-width: 900px
for-desktop-up == min-width: 1200px
for-big-desktop-up == min-width: 1800px
*/
// DONT USE THESE
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-md-desktop-up {
  @media (min-width: 1400px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}