

// colors
$sw-light-blue: #91d8dd;

html {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.shelly-web-container {
    width: 100%;
}