

// colors
$sw-light-blue: rgba(145,216,221, 0.1);// #91d8dd;
$sw-light-blue-fallback: rgb(145,216,221);// #91d8dd;

html {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    overflow-x: hidden; // fix for portfolio hori scroll
}
h1 {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.8rem !important;
    padding: 0.5rem 0.2rem !important;
}

.shelly-web-container {
    width: 100%;
}